.Blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: white;
}
.BlogSecP{
    margin-top: 10%;
    color: #0d0d0d;
    left: 0;
    text-align: center;
    font-size: 1.4vw;
}
.BlogNav{
    background-color: #1d1d1d;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6vw 2.5vw;
    top: 0;
    left: 14.5%;
    position: fixed;
}
.BlogNav h1{
    font-size: 2.6vw;
    color: #FFF;
}
.BlogNavBtn{
    color: var(--white);
    background-color: #0d0d0d;
    padding: 1vw 1.5vw;
    font-size: 1.3vw;
    border-radius: 1vw;
}
.BlogNavBtn i{
    margin-right: .3vw;
}
.BlogNav button:hover{
    opacity: .6;
}
.Blog ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin-top: 12%;
}
.Blog li{
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    margin: 1vw;
    border-radius: 2vw;
    padding: 1vw;
}
.Blog li:hover{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.Blog li img{
    width: 100%;
    border-radius: 2vw;
}
.Blog li h3{
    margin: 0.5vw 0;
    font-size: 2.2vw;
}
.Blog li p{
    font-size: 1vw;
}