.FooterComponent{
    width: 100%;
    padding: 5vw 1vw;
}
.FooterComponent h1{
    color: var(--black);
    text-align: center;
    font-size: 3vw;
    margin: 1vw;
}
.FooterComponent p{
    font-size: 1.4vw;
    padding: 0 10%;
    text-align: center;
    margin-bottom: 2vw;
}
.FooterCompBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}
.FooterCompBox h2{
    font-size: 2vw;
    font-weight: 400;
}
.FooterCompBox h4{
    font-size: 1.5vw;
}
.FooterCompBox p{
    font-size: 1.3vw;
    display: flex;
    text-align: left;
    margin: 1vw 0;
    padding: 0 10% 0 0 !important;
    justify-content: flex-start;
}
.FooterCompTexts{
    margin-right: 7vw;
}
.FooterCompIcons{
    display: flex;
    align-items: center;
}
.FooterCompIcons i{
    font-size: 2.5vw;
    padding: .4vw;
    cursor: pointer;
}
.FooterCompIcons i:hover{
    transform: scale(1.1);
}
.FooterCompInbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FooterCompInbox input, .FooterCompInbox textarea{
    outline: none;
    font-size: 1.3vw;
    border-radius: 1vw;
    border: .1vw solid var(--black);
    padding: 1vw;
    margin: 1vw;
    width:  130%;
    
}
.FooterCompInbox input:hover,.FooterCompInbox textarea:hover{
    border: .1vw solid var(--gold);
}
.FooterCompInbox button{
    color: var(--black);
    border: 0.2vw solid var(--gold);
    padding: 3.5% 4%;
    border-radius: 2vw;
    font-size: 1.5vw;
}
.FooterCompInbox button:hover{
    background: var(--gold);
    color: var(--white);
}

@media screen and (max-width: 650px) {
    .FooterCompBox{
        flex-direction: column;
        padding: 4vw;
    }
    .FooterCompTexts{
        margin-right: 0;
    }
    .FooterComponent p{
        font-size: 4vw;
    }
    .FooterComponent h1{
        font-size: 8vw;
        padding: 2% 0;
    }
    .FooterCompBox h2{
        font-size: 5.5vw;
        text-align: center;
        margin-top: 2vw;
    }
    .FooterCompBox p {
        padding: 3% 10% !important;
        text-align: center;
    }
    .FooterCompInbox input{
        font-size: 4.5vw;
        margin: 1vw;
        width: 100%;
    }
    .FooterCompInbox button{
        font-size: 5vw;
        margin: 2vw;
    }
    .FooterCompIcons {
        justify-content: center;
    }
    .FooterCompIcons i{
        font-size: 7vw;
        margin: 1.5vw;
    }
    .FooterCompBox h4{
        font-size: 5vw;
        text-align: center;
        margin: 1vw;
    }
}