.SignPage{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: dimgrey;
    color: white;
    overflow: hidden;
}
.SignModal{
    background-color: #1d1d1d;
    padding: 2vw 3vw;
    border-radius: 2vw;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SignModal h1{
    font-size: 3vw;
    text-align: center;
}
.SignModal p{
    text-align: center;
    font-size: 1.3vw;
    margin: 1vw;
}
.SignPage input{
    outline: none;
    font-size: 1.3vw;
    border-radius: 1vw;
    border: .1vw solid var(--black);
    padding: 1vw;
    width:  100%;
    margin: .5vw;
    color: white;

}
.SignPage input:hover{
    border: .1vw solid var(--gold);
}
.SignPage button{
    color: var(--black);
    border: 0.2vw solid var(--gold);
    padding: .8vw 1.8vw;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: var(--gold);
    margin-top: .4vw;
}
.SignPage button:hover{
    background: var(--gold);
    color: var(--white);
}
@media screen and (max-width: 650px) {
    .SignPage{
        overflow: hidden;
    }
    .SignModal{
        width: 85%;
        height: 55vh;
        padding: 5vw;
    }
    .SignModal h1{
        font-size: 9.5vw;
    }
    .SignModal p{
        font-size: 4vw;
        margin: 3vw;
    }
    .SignModal input{
        font-size: 4vw;
        margin: 1.3vw;
        padding: 3vw;
    }
    .SignModal button{
        font-size: 4.5vw;
        margin: 2vw;
        padding: 2vw 10vw;
    }
}