.Message{
    width: 100%;
}
.Message h1{
    z-index: 2;
    padding: 1.3vw;
    width: 100%;
    background-color: #2d2d2d;
    margin-bottom: 30px;
    color: #FFF;
    top: 0;
    left: 10%;
    position: fixed;
}
.Message ul{
    margin-top: 7vw;
<<<<<<< HEAD
=======
    margin-left: 3vw;
>>>>>>> e6e2e287774176e541e300c777daa6c329db569b
}
.Message li{
    padding: 0.3vw;
    border: 0.2vw solid white;
    margin: 1vw;
    width: fit-content;
    border: 0.2vw solid #4d4d4d;
}
.Message li h4{
    font-size: 2vw;
}
.Message li h5{
    font-size: 1.3vw;
    opacity: .6;
    margin-bottom: 0.5vw;
}
.Message li p{
    font-size: 1.3vw;
    opacity: .9;
    margin: 1vw;
}