.Message{
    width: 100%;
}
.CopiedMessage{
    position: fixed;
    z-index: 5;
    bottom: -20%;
    right: 1%;
    width: fit-content;
    padding: 1vw 1.2vw;
    background-color: #0d0d0d;
    color: white;
    font-size: 1.65vw;
    border-radius: 1vw;
    animation-name: CopiedAnimation;
    animation-duration: 4s;
    display: none;
}
@keyframes CopiedAnimation {
    0%{
        bottom: -20%;
    }
    15%{
        bottom: 2%;
    }
    85%{
        bottom: 2%;
    }
    100%{
        bottom: -20%;
    }
}
.Message h1{
    z-index: 2;
    padding: 1.6vw 2.5vw;
    font-size: 3vw;
    width: 100%;
    background-color: #1d1d1d;
    color: #FFF;
    top: 0;
    left: 14.5%;
    position: fixed;
    display: flex;
    align-items: center;
}
.Message h1 i{
    font-size: 3.1vw;
    margin-right: 0.7vw;
    margin-top: .4vw;
}
.Message ul{
    margin-top: 15%;
    margin-left: -5%;
}
.Message li{
    border-radius: 2vw;
    border-bottom-left-radius: .5vw;
    border-top-left-radius: .5vw;
    padding: 1.1vw;
    margin: .3vw;
    width: fit-content;
    color: white;
    background-color: #2d2d2d;
}
.Message li:first-child{
    border-top-left-radius: 2vw;
}
.MessageTexts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Message li h4{
    font-size: 2vw;
    margin-right: 2vw;
}
.Message li button{
    color: white;
    font-size: 1.4vw;
    opacity: .6;
}
.Message li p{
    font-size: 1.3vw;
    opacity: .9;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: .2vw;
}