.projectComp h1{
    font-size: 2.7vw;
    color: var(--black);
    margin: 5%;
}
.projectComp ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
}
.projectComp ul li{
    width: 30%;
    margin: 1.5% 1%;
    border-radius: 1.1vw;
    position: relative;
}
.projectComp ul li:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.01);
}
.projectComp ul li img{
    height: 100%;
    width: 97.5%;
    padding: 0 0 0 2.5%;
    
}
.projectComp ul li h4{
    font-size: 1.6vw;
    color: var(--black);
    margin: 5%;
}
.projectComp button:last-child{
    color: var(--black);
    border: 0.2vw solid var(--gold);
    padding: 1.5% 3.8%;
    border-radius: 2vw;
    font-size: 1.4vw;
    margin: 2% 37.7%;
    width: max-content;
}
.projectComp button:last-child:hover{
    background: var(--gold);
    color: var(--white);
}
.projectComp ul li button{
    position: absolute;
    width: 100%;
    height: 100%;
}
@media (max-width: 650px) {
    .projectComp ul li{
        width: 48%;
    }
    .projectComp ul li h4{
        font-size: 3vw;
    }
    .projectComp h1{
        font-size: 4vw;
    }
    .projectComp button:last-child{
        font-size: 2.5vw;
    }
}