.projectComp{
    width: 100%;
    margin-top: 13%;
}
.projectComp h1{
    font-size: 3vw;
    color: var(--black);
    margin: 5%;
    margin-top: 10%;
}
.projectComp ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.projectComp ul li{
    animation-duration: 1s;
    width: 31%;
    margin: 1.5% 1%;
    border-radius: 1.1vw;
    position: relative;
    cursor: pointer;
}
.projectComp ul li button{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.projectComp ul li:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.01);
}
.projectComp ul li img{
    height: 100%;
    width: 97.5%;
    padding: 0 0 0 2.5%; 
}
.projectComp ul li h4{
    font-size: 2vw;
    color: var(--black);
    margin: 5%;
}
.projectComp .NavLink{
    color: var(--black);
    border: 0.2vw solid var(--gold);
    padding: 1.5% 3.8%;
    border-radius: 2vw;
    font-size: 1.4vw;
    margin: 2% 0;
    width: max-content;
}
.projectComp .NavLink:hover{
    background: var(--gold);
    color: var(--white);
}
.Error, .loading{
    color: #2d2d2d;
    margin: 0 45%;
    font-size: 2vw;
}
@media (max-width: 650px) {
    .projectComp ul li{
        width: 48%;
    }
    .projectComp ul li h4{
        font-size: 3vw;
    }
    .projectComp h1{
        font-size: 6vw;
        margin-top: 5%;
    }
    .projectComp .NavLink{
        font-size: 2.5vw;
    }
}