marquee{
    font-size: 4vw;
    color: var(--gray);
}
.helpComp ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 7%;
}
.helpComp ul li{
    width: max-content;
    margin: 2.5%;
    cursor: pointer;
}
.helpComp ul li:hover{
    transform: translateY(-8%);
}
.helpComp ul li img{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
}
.helpComp ul li h3{
    font-size: 1.8vw;
    text-align: center;
    margin: 2% 0;
    cursor: pointer;
    color: var(--black);
}
.helpComp ul li p{
    font-size: 1.3vw;
    text-align: center;
    margin: 1% 0;
    cursor: pointer;
    color: var(--gray);
}
@media (max-width: 650px) {
    marquee{
        font-size: 7vw;
    }
    .helpComp ul li img{
        width: 40vw;
        height: 40vw;
    }
    .helpComp ul li h3{
        font-size: 6vw;
    }
    .helpComp ul li p{
        font-size: 4vw;
    }
    .helpComp .titleBox h1{
        font-size: 5vw;
    }
}