.Projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: white;
}
.ProjectsNav{
    background-color: #2d2d2d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.8vw;
    top: 0;
    left: 0;
}
.ProjectsNav h1{
    font-size: 2.6vw;
}
.ProjectsNav button{
    color: var(--white);
    background-color: #1d1d1d;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border-radius: 1vw;
}
.ProjectsNav button:hover{
    opacity: .6;
}
.Projects ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin-top: 3vw;
}
.Projects li{
    display: flex;
    flex-direction: column;
    width: 3vw;
    background-color: var(--card);
    height: 3vw;
    margin: 1vw;
    border-radius: 1vw;
}
.Projects li:hover{
    box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, 0.4);
}
.Projects li img{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 30vw;
    margin-bottom: 1vw;
}
.Projects li h3{
    margin-left: 1vw;
    font-size: 2.2vw;
}
.AdBtnBox{
    display: flex;
    align-items: center;
    padding: 1vw;
}
.AdBtnBox button{
    font-size: 1vw;
    padding: vw;
    background-color: var(--black-gray);
    margin: 0 vw;
    color: white;
    border-radius: vw;
}
.AdBtnBox button:nth-child(1):hover{
    background: red;
}
.AdBtnBox button:nth-child(2):hover{
    background: greenyellow;
}
.loading{
    color: white;
    font-size: 3vw;
}
.Error{
    color: white;
    font-size: 3vw;
}
.Error i{
    margin-right: vw;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}
.projectModal{
    width: 40vw;
    padding: 2vw;
    background-color: var(--black-gray);
    box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, 0.4);
    border-radius: 1vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10vw;
    z-index: 4;
}
.projectModal h3{
    font-size: 2vw;
    margin-bottom: 1vw;
}
.projectModal input{
    background-color: var(--card);
    padding: 1vw;
    margin: vw 0;
    color: white;
    font-size: 1vw;
    border-radius: vw;
}
.projectModal button{
    background-color: var(--card);
    padding: 1vw 2vw;
    font-size: 1vw;
    border-radius: vw;
    margin-top: 1vw;
    color: white;
}
.projectModal button:hover{
    opacity: .6;
}