*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .7s;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    cursor: default;
}
input,select,button,textarea{
    background: none;
    border: none;
    cursor: pointer;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    width: 100%;
    height: 10000vw;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
:root{
    --black: #000;
    --white: #FFF;
    --gray: rgba(197, 179, 179, 0.767);
    --gold: rgb(255, 187, 0);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.MessageModal{
    z-index: 10;
    position: fixed;
    top: 1%;
    right: -45%;
    background-color: rgb(152, 236, 152);
    border: .2vw solid rgba(102, 233, 102, 0.481);
    border-radius: 1.5vw;
    padding-right: 3.5vw;
    padding: 1vw;
    color: white;
    box-shadow: 10 0 10 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: MessageModalAnimation;
    animation-duration: 6s;
}
.MessageTitle{
    font-size: 1.9vw;
}
.MessageModTextBox{
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}
.MessageModText{
    font-size: 1.35vw;
}
.MessageModal i{
    font-size: 5vw;
    padding-left: 0.8vw;
}

.ErrorMessageModal{
    z-index: 10;
    position: fixed;
    top: 1%;
    right: -45%;
    background-color: rgb(252, 52, 52);
    border: .2vw solid red;
    border-radius: 1.5vw;
    padding-right: 3.5vw;
    padding: 1vw;
    color: white;
    box-shadow: 10 0 10 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: MessageModalAnimation;
    animation-duration: 6s;
    width: 35%;
}
.ErrorMessageModalTitle{
    font-size: 1.9vw;
}
.ErrorMessageModText{
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    width: 80%;
}
.ErrorMessageModalText{
    font-size: 1.35vw;
}
.ErrorMessageModal i{
    font-size: 5vw;
    padding-left: 0.8vw;
}
@keyframes MessageModalAnimation {
    0% {
        right: -45%;
    }
    15% {
        right: 1%;
    }
    85% {
        right: 1%;
    }
    100%{
        right: -45%;
        display: none;
    }
}
@keyframes MessageModalAnimationRestangle {
    0% {
        top: -45%;
    }
    15% {
        top: 1%;
    }
    85% {
        top: 1%;
    }
    100%{
        top: -45%;
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .MessageModal, .ErrorMessageModal{
        width: 96%;
        animation-name: MessageModalAnimationRestangle;
        right: 2%;
        top: -45%;
        justify-content: space-between;
        padding: 3vw;
        border-radius: 4vw;
    }
    .MessageTitle, .ErrorMessageModalTitle{
        font-size: 6.8vw;
    }
    .MessageModText, .ErrorMessageModalText{
        font-size: 4vw !important; 
    }
    .MessageModal i, .ErrorMessageModal i{
        font-size: 15vw;
    }
}