.Admin{
    display: flex;
    width: 100%;
}
.Error, .loading{
    color: #2d2d2d;
    margin: 17%;
}

.Sidebar{
    z-index: 3;
    width: 15%;
    padding: 2vw;
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: white;
}
.Sidebar img{
    width: 80%;
    margin: 0 auto;
}
.Sidebar .SideTT{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(69, 69, 79);
    width: 1vw;
    color: white;
    padding: 1vw 2vw;
    font-size: 2vw;
    border-radius: 1vw;
    margin-bottom: 4vw;
    margin-top: 1vw;
    display: none;
}
.Sidebar ul{
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;
}
.Sidebar li *{
    cursor: pointer;
}
.Sidebar li, .Linker{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.85vw;
    margin: .6vw 0;
}
.Sidebar li:hover, .Linker:hover{
    opacity: .8;
}
.Sidebar li i, .Linker i{
    font-size: 2.2vw;
    margin-right: .6vw;
}
.sidebarBot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.sidebarBot i{
    background-color: #0d0d0d;
    padding: 1vw 1.1vw;
    font-size: 1.4vw;
    border-radius: 50%;
}
.sidebarBot h2{
    font-size: 1.4vw;
    margin-left: .5vw;
}
/* .test_upload{
    display: inline-flex;
    align-items: center;
    font-size: 1vw;
}
.test_input{
    display: none;
}
.test_btn{
    -webkit-appearance: none;
    background: lightgreen;
    border: 0.2vw solid lightgreen;
    border-radius: 2vw;
    padding: 0.2vw 0.1vw;
    margin-right: 2vw;
    color: #FFF;
    font-size: 1vw;
} */

@media screen and (max-width: 650px) {
    .Sidebar{
        width: 20%;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Sidebar img{
        width: 100%;
        margin: 3vw auto;
    }
    .Sidebar ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Sidebar li{
        margin: 3.4vw;
    }
    .Sidebar li p{
        display: none;
    }
    .Sidebar li i{
        font-size: 8.4vw;
        margin-right: 3vw;
    }

    .Message h1{
        width: 100%;
        left: 0%;
        font-size: 6.5vw;
        padding: 3vw;
    }
    .Message h1 i{
        font-size: 7vw;
        margin-right: 3vw;
    }
}