.Admin{
    display: flex;
    width: 100%;
}
.Error, .loading{
    color: #2d2d2d;
    margin: 17%;
}

.Sidebar{
    position: fixed;
    z-index: 2;
    width: 15%;
    padding: 2vw;
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
}
.Sidebar img{
    width: 80%;
    margin: 0 auto;
}
.Sidebar .SideTT{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(69, 69, 79);
    width: 1vw;
    color: white;
    padding: 1vw 2vw;
    font-size: 2vw;
    border-radius: 1vw;
    margin-bottom: 4vw;
    margin-top: 1vw;
    display: none;
}
.Sidebar ul{
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;
}
.Sidebar li *{
    cursor: pointer;
}
.Sidebar li, .Linker{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.85vw;
    margin: .6vw 0;
}
.Sidebar li:hover, .Linker:hover{
    opacity: .8;
}
.Sidebar li i, .Linker i{
    font-size: 2.2vw;
    margin-right: .6vw;
}
.sidebarBot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.sidebarBot i{
    background-color: #0d0d0d;
    padding: 1vw 1.1vw;
    font-size: 1.4vw;
    border-radius: 50%;
}
.sidebarBot h2{
    font-size: 1.4vw;
    margin-left: .5vw;
}

.AdBtnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3vw;
}
.AdBtnBox button{
    font-size: 1.4vw;
    padding: .7vw 1.2vw;
    background-color: #1d1d1d;
    margin: 0 0.5vw;
    color: white;
    border-radius: 1vw;
}
.AdBtnBox button i{
    margin-right: .3vw;
}
.AdBtnBox button:nth-child(1):hover{
    background: red;
}
.AdBtnBox button:nth-child(2):hover{
    background: greenyellow;
}
/* .test_upload{
    display: inline-flex;
    align-items: center;
    font-size: 1vw;
}
.test_input{
    display: none;
}
.test_btn{
    -webkit-appearance: none;
    background: lightgreen;
    border: 0.2vw solid lightgreen;
    border-radius: 2vw;
    padding: 0.2vw 0.1vw;
    margin-right: 2vw;
    color: #FFF;
    font-size: 1vw;
} */

@media screen and (max-width: 650px) {
    .Sidebar{
        position: fixed;
        width: 20%;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Sidebar img{
        width: 100%;
        margin: 3vw auto;
    }
    .Sidebar ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Sidebar li{
        margin: 3.4vw;
    }
    .Sidebar li p{
        display: none;
    }
    .Sidebar li i{
        font-size: 8.4vw;
        margin-right: 3vw;
    }

    .Message h1{
        width: 80%;
        font-size: 8vw;
        padding: 4.5vw;
        left: 20%;
    }
    .Message h1 i{
        font-size: 8.4vw;
        margin-right: 3vw;
    }
    .Message ul{
        width: 100%;
        margin-top: 30%;
        margin-left: 12%;
    }
    .Message li{
        border-radius: 6vw;
        border-bottom-left-radius: 2.4vw;
        border-top-left-radius: 2.4vw;
        padding: 3vw;
        margin: 1vw;
        width: fit-content;
    }
    .Message li:first-child{
        border-top-left-radius: 6vw;
    }
    .Message li h4{
        font-size: 6.2vw;
        margin-right: 4vw;
    }
    .Message li button{
        font-size: 4vw;
    }
    .Message li p{
        font-size: 5vw;
        max-width: 65vw;
        margin-top: 1.6vw;
        margin-left: 1.6vw;
    }
    .CopiedMessage{
        text-align: center;
        right: 4%;
        width: 92%;
        font-size: 5.6\vw;
        padding: 3.4vw;
        border-radius: 4vw;
    }

    .BlogNav{
        width: 80%;
        font-size: 8vw;
        padding: 4.5vw;
        left: 20%;
    }
    .BlogNav h1{
        font-size: 7vw;
    }
    .BlogNavBtn{
        font-size: 4vw;
        padding: 3vw;
        border-radius: 2.4vw;
    }
    .Blog ul{
        width: 100%;
        margin-top: 25%;
        margin-left: 20%;
    }
    .Blog li{
        margin: 2vw;
        width: 80%;
        border-radius: 4vw;
        padding: 3vw;
    }
    .Blog li img{
        border-radius: 4vw;
    }
    .Blog li h3{
        margin: .5vw 0;
        margin-top: 4vw;
        font-size: 6.4vw;
    }
    .Blog li p{
        font-size: 4.4vw;
    }

    .AdBtnBox button{
        font-size: 4vw;
        padding: 2.4vw;
        margin: 1vw 2vw;
        border-radius: 2.4vw;
    }

    .ProjectsNav{
        width: 80%;
        left: 20%;
        padding: 4.5vw;
    }
    .ProjectsNav h1{
        font-size: 7vw;
    }
    .ProjectsNavBtn{
        font-size: 4vw;
        padding: 3vw;
        border-radius: 2.4vw;
    }
    .Projects ul{
        margin-left: 0;
        padding-left: 15%;
        padding-right: 0;
        width: 100%;
    }
    .Projects li{
        width: 65%;
        border-radius: 4.2vw;
        border: 0.6vw solid black;
    }
    .Projects li img{
        border-top-left-radius: 3.7vw;
        border-top-right-radius: 3.7vw;
    }
    .Projects li h3{
        font-size: 6vw;
    }

    .overlay{
        height: 100%;
    }
    .projectModal{
        width: 80%;
        left: 10%;
        border-radius: 4vw;
    }
    .projectModal div{
        margin: 2vw 3vw;
        padding: 1vw;
    }
    .projectModal h3{
        font-size: 6.6vw;
        padding: 3.5vw;
    }
    .projectModal h4{
        font-size: 5.4vw;
        margin-top: 2.8vw;
        margin-bottom: 1vw;
    }
    .projectModal input{
        font-size: 5vw;
        padding: 2.4vw;
        border-radius: 4.2vw;
    }
    .projectModal button{
        font-size: 5vw;
        padding: 2vw;
        margin-top: 5vw;
        border-radius: 4.2vw;
    }
    .editImageBox div button{
        font-size: 4.6vw;
        padding: 3vw 4vw;
        margin: .4vw;
    }
    .editImageBox img{
        width: 100%;
    }
}