.Admin{
    display: flex;
    width: 100%;
}
.AdminMain{
    margin-left: 148px;
}
.Error, .loading{
    color: #2d2d2d;
    margin: 17%;
}
/* .test_upload{
    display: inline-flex;
    align-items: center;
    font-size: 1vw;
}
.test_input{
    display: none;
}
.test_btn{
    -webkit-appearance: none;
    background: lightgreen;
    border: 0.2vw solid lightgreen;
    border-radius: 2vw;
    padding: 0.2vw 0.1vw;
    margin-right: 2vw;
    color: #FFF;
    font-size: 1vw;
} */
